.leadership-wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.leadership-container {
  width: 100%;
  max-height: 792px;
  max-width: 1440px;

  padding-top: 120px;
  padding-right: 24px;
  padding-bottom: 120px;
  padding-left: 24px;

  background-color: #ffffff;

  border-left: 1px solid #d3e1ed;
  border-right: 1px solid #d3e1ed;

  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.leadership-title {
  font-size: 60px;
  color: #00416b;
  font-weight: 600;
  line-height: 100%;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.leadership-subtitle {
  font-size: 20px;
  color: #00416b;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  max-width: 640px;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.leadership-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;

  border-top: 1px solid #d3e1ed;

  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  position: relative;
}

.leadership-left {
  flex-shrink: 0;
  text-align: center;
}

.leader-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.leader-name {
  font-weight: 600;
  color: #0f3556;

  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.leader-role {
  font-size: 14px;
  color: #607b96;
}

.leadership-right {
  text-align: left;
  position: relative;
  flex: 1;
}

.leader-quote {
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #00416b;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;

  position: relative;
  z-index: 2;
}

.leadership-right::after {
  content: "“";
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 220px;
  color: #f4f7fa;
  font-family: serif;
  line-height: 1;
  z-index: 1;
  pointer-events: none;
}

.leader-metrics {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.leader-metrics div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.leader-metrics strong {
  font-size: 24px;
  color: #0f3556;
}

.leader-metrics span {
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}
